<ActionBar class="action-bar">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <GridLayout rows="auto" columns="50,*,50">
    <!--<Button text="&#xf008;" (tap)="back()" class="fontello action-item"-->
    <Button [text]="backIcon | fonticon" (tap)="back()" class="fa action-item"
      row="0" col="0"></Button>
    <Label [text]="title" class="action-bar-title text-left" 
      row="0" col="1"></Label>
    <Button text="moreIcon | fonticon" 
      (tap)="rightButtonTap.emit(true)" class="fontello action-item"
      row="0" col="2" *ngIf="showMoreIcon"></Button>
  </GridLayout>
</ActionBar>